body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: #06ffb9;
    transform: scale(1.3);
    padding: 5px;
}

a:hover {
    color: #00d1b2;
    transform: scale(1.4);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.chessboard-wrapper {
    width: 95vw;
    height: 95vw;
    max-width: 550px;
    max-height: 550px;
    border: 2px solid #fbfbfb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
}

.chessboard-wrapper.rotating {
    opacity: 1;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* ------------------------------------------------------------------------    LAPTOOOOOOOOP */
@media (min-width: 768px) {

    .game-over-state {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(136, 211, 201, 0.916);
        color: rgb(65, 14, 50);
        width: 50%;
        height: 70%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        z-index: 10;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .king-image {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }

    .king-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .game-over-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #f5c6cb;
        padding: 10px 15px;
        border-radius: 5px;
        border-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }

    .close-button:hover {
        background-color: aquamarine;
        transition: ease-out 0.2s;
        transform: scale(1.1);
    }

    .revenge-button {
        margin-top: 40px;
        padding: 20px 40px;
        background-color: #f39c12;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        cursor: pointer;
        transition: ease-out 0.2s;
    }

    .revenge-button:hover {
        background-color: #e67e22;
        transform: scale(1.1);
    }

    .error-message,
    .game-state {
        position: absolute;
        top: 2%;
        right: 2%;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        padding: 8px 12px;
        font-size: 12px;
        font-weight: bold;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 200px;
        opacity: 0.9;
    }

    .game-state {
        background-color: #d7f8f2;
        color: #0a002d;
        top: 10%;
    }
}

/* ------------------------------------------------------------------------    MOBILE */
@media (max-width: 768px) {
    .chessboard-wrapper {
        width: 100vw;
        height: 100vw;
    }

    .game-over-state {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(136, 211, 201, 0.899);
        color: rgb(65, 14, 50);
        width: 90%;
        height: 70%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        z-index: 10;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .game-over-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #f5c6cb;
        padding: 10px 15px;
        border-radius: 5px;
        border-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }

    .close-button:hover {
        background-color: aquamarine;
        transition: ease-out 0.2s;
        transform: scale(1.1);
    }

    .revenge-button {
        margin-top: 30px;
        padding: 10px 20px;
        background-color: #f39c12;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        cursor: pointer;
        transition: ease-out 0.2s;
    }

    .revenge-button:hover {
        background-color: #e67e22;
        transform: scale(1.1);
    }

    .king-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .king-image {
        width: 120px;
        height: auto;
        margin-bottom: 15px;
    }

    .error-message,
    .game-state {
        position: absolute;
        top: 2%;
        right: 2%;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        padding: 8px 12px;
        font-size: 12px;
        font-weight: bold;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 200px;
        opacity: 0.9;
    }

    .game-state {
        background-color: #d7f8f2;
        color: #0a002d;
        top: 10%;
    }

    .error-message,
    .game-state {
        font-size: 10px;
        padding: 6px 10px;
    }
}